<%- include('includes/head') %>
    <%- include('includes/nav') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>

                <div class="col-lg-8 my-3">
                    <h1 class="text-center">Contacto</h1>
                    <p class="text-center lead">Crie ou edite seu contacto logados</p>
                    <!-- pode se criar varias divs com o comando "div.classe>div.classe>div.classe>etc..." -->
                    
                    <%- include("includes/messages")  %>
                    <% if(contacto._id) {%>


                        <form action="/contacto/edit/<%= contacto._id %>" method="post">

                    <% }else{ %>
                        
                        <form action="/contacto/register" method="post">


                    <% } %>    

                    


                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                        <div class="mb-3">
                            <label class="form-label">Nome</label>
                            <input type="text" class="form-control" name="nome" value="<%= contacto.nome %>">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Sobrenome</label>
                            <input type="text" class="form-control" name="sobrenome" value="<%= contacto.sobrenome %>">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">E-Mail</label>
                            <input type="email" class="form-control" name="email" value="<%= contacto.email %>">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Telefone</label>
                            <input type="tel" class="form-control" name="telefone" value="<%= contacto.telefone %>">
                        </div>

                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>

                   
                </div>

                <div class="col-lg-2"></div>
            </div>
        </div>
        <%- include('includes/footer') %>