<%- include('includes/head') %>
    <%- include('includes/nav') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>

                <div class="col-lg-8 my-3">
                    <h1 class="text-center">Criar conta ou Entar</h1>
                    <p class="text-center lead">Faca login ou crie a sua conta abaixo</p>
                    <!-- pode se criar varias divs com o comando "div.classe>div.classe>div.classe>etc..." -->

                    <%- include('includes/messages') %>

                    <div class="row">

                        <div class="col-lg my-5">
                            <h4>Faca o seu Cadastro</h4>
                            <p>Se voce ainda nao tem conta, preencha o formulario abaixo</p>
                            <form action="/login/register" method="post" class="form-cadastro">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <div class="mb-3">
                                    <label class="form-label">Seu E-mail</label>
                                    <input type="email" class="form-control" name="email">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Sua senha</label>
                                    <input type="password" class="form-control" name="password">
                                </div>
                                <button type="submit" class="btn btn-primary">Cria a sua conta</button>
                            </form>
                        </div>

                        <div class="col-lg">
                            <h4>Entra no Sistema</h4>
                            <p>Se voce ja tem conta, preencha o formulario abaixo</p>
                            <form action="/login/login" method="post" class="form-login">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <div class="mb-3">
                                    <label class="form-label">Seu E-mail</label>
                                    <input type="email" class="form-control" name="email">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Sua senha</label>
                                    <input type="password" class="form-control" name="password">
                                </div>
                                <button type="submit" class="btn btn-primary">Entrar</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2"></div>
            </div>
        </div>
        <%- include('includes/footer') %>