<%- include('includes/head') %>
    <%- include('includes/nav') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>

                <div class="col-lg-8 my-3">
                    <h1 class="text-center">Ola <%= user.email %></h1>
                    <p class="text-center lead">Voce precisa sair pra criar outra conta.</p>
                    <!-- pode se criar varias divs com o comando "div.classe>div.classe>div.classe>etc..." -->

                    <%- include('includes/messages') %>

                    
                </div>

                <div class="col-lg-2"></div>
            </div>
        </div>
        <%- include('includes/footer') %>